body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

h1, h2 {
    font-weight: bold;
    color: darkred;
}

img {
    width: 500px;
    height: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}


.recipe-list, .ingredients {
    
    padding: 24px;
    width: fit-content;
    border: rgb(165, 42, 42) dotted;
    text-align: center;
}

.recipe-list li, .ingredients li {
    background-color: antiquewhite;
    display: block;
    margin: 16px auto;
    width: fit-content;
    padding: 8px;
}